html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.08;
    z-index: -1;
}

.login-container {
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.login-title {
    font-size: 1.65rem;
    width: 100%;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1.8rem;
    color: #FB83AA;
}

.input-group {
    margin-bottom: 15px;
}

.input-label {
    font-size: large;
    font-style: italic;
}

.input-field {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 0.8rem;
    outline: none;
}

.submit-button {
    background-color: #FB83AA;
    color: #FEECE9;
    border: none;
    border-radius: 5px;

    width: 80%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    outline: none;
}

.submit-button:hover {
    background-color: #93C6D9;
}

.submit-button:focus {
    outline: none;
}

.error-message {
    color: red;
    margin-top: 10px;
}

#login_form {
    width: 90%;
}
