
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.page-title-text {
    font-size: x-large;
    width: 80%;
    font-style: italic;
    font-weight: bold;
}

.nav {
    width: 80%;
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

/*Navbar*/
.nav-link {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none !important;
}

.nav-link.active {
    color: #FB83AA;
}

.nav-link:hover {
    color: #93C6D9;
}

.nav-item {
    margin: 0;
    padding: 0;
}

/*Table*/
.table {
    width: 80%;
}

#movie_table thead th {
    background-color: #FB83AA;
    color: #FEECE9;
}

#movie_table tbody a {
    color: #FB83AA;
}

#movie_table tbody a:hover {
    color: #93C6D9;
}

.table {
    width: 80%;
}

.table thead th {
    background-color: #FB83AA;
    color: #FEECE9;
}

.table tbody td {
    color: #333; /* Dark grey text for readability */
}

.table tbody a {
    color: #FB83AA; /* Link color matches header background */
}

.table tbody a:hover {
    color: #93C6D9;
}

.page-title-text {
    font-size: x-large;
    width: 80%;
    font-style: italic;
    font-weight: bold;
    text-align: center; /* 保证标题居中显示 */
    margin-top: 20px; /* 添加一些间隙 */
}

.info-text {
    font-size: large;
    width: 80%;
    margin: 20px auto; /* 使信息居中并提供间隙 */
    padding: 10px;
    background-color: #f8f9fa; /* 提供一致的背景颜色 */
    border-radius: 8px; /* 边角圆润 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 添加轻微的阴影以增强层次感 */
}

.nav-link.active {
    color: #FB83AA; /* 激活链接颜色 */
}

.nav-link:hover {
    color: #93C6D9; /* 悬停链接颜色 */
}
