
html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}

.highlighted-name {
    color: #FB83AA;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.08;
    z-index: -1;
}

.page-title-text {
    font-size: x-large;
    width: 80%;
    font-style: italic;
    font-weight: bold;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #FEFCFC;
    width: 100%;
    margin: 0 0 1rem;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    z-index: 1000;
    padding-left: 10%;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-form input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 150px;
    outline: none;
}

.search-form button {
    background-color: #FB83AA;
    color: #FEECE9;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.search-form button:hover {
    background-color: #93C6D9;
}

.search-form button:focus,
.search-form input[type="text"]:focus {
    outline: none;
}

/*Navbar*/
.nav-link {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none !important;
}

.nav-link.active:hover {
    color: #93C6D9;
}

.nav-item {
    margin: 0;
    padding: 0;
}

/*Table*/
.table {
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#movie_table thead th {
    background-color: #FB83AA;
    color: #FEECE9;
}

#movie_table tbody a {
    color: #FB83AA;
}

#movie_table tbody a:hover {
    color: #93C6D9;
}

.brand-name {
    font-size: large;
    font-weight: bold;
}

.table {
    width: 80%;
}

.table thead th {
    background-color: #FB83AA;
    color: #FEECE9;
}

.table tbody td {
    color: #333;
}

.table tbody a {
    color: #FB83AA;
}

.table tbody a:hover {
    color: #93C6D9;
}

.page-title-text {
    font-size: x-large;
    width: 80%;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
}

.page-subtitle-text {
    font-size: large;
    font-style: italic;
}

.info-text {
    font-size: large;
    width: 80%;
    border-radius: 8px;
}

.nav-link.active {
    color: #FB83AA;
}


.brand-name {
    font-size: large;
    font-weight: bold;
}

.logo-img {
    width: 2rem;
    height: 2rem;
    margin-top: 0.85rem;
}

/*Footer*/
.footer {
    position: fixed;
    bottom: 0;
    background-color: #FEFCFC;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    z-index: 1000;
    font-size: 0.9rem;
}
